@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  @include desktop {
    display: block;
    width: 100%;
    position: fixed;
    &__items {
      height: 5rem;
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    &__text {
      margin: 2.5rem;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}

li {
  @include desktop {
    &:hover {
      text-decoration: underline;
    }
  }
}
