.navbar {
  display: none;
  @include desktop {
    display: block;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    &__items {
      height: 5rem;
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &__text {
      margin: 2.5rem;
      font-size: 1.5rem;
    }
  }
}

.active {
  @include desktop {
    font-weight: bold;
  }
}

li {
  @include desktop {
    &:hover {
      text-decoration: underline;
    }
  }
}
